<div class=" container">
    <h1>Check Palindrome</h1>
    <p>This component checks if an input string is a pallindrome .</p>
    
    <form #form="ngForm" (submit)="SubmitForm(form)" novalidate>
        <div class="form-group" [class.has-error]="palindrome">
            <label class="control-label"></label>
            <input #palindrome type="text" placeholder="palindrome" name="palindrome" required [(ngModel)]="model.palindromeValue" class="input-lg" />
            <div *ngIf="palindrome.invalid && palindrome.touched">Input is required</div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <button name="submit" type="submit" class="btn btn-default active">Check</button>
            </div>

            <div class="col-lg-1">
                <div class="alert alert-success bg-success" *ngIf="model.isPalindrome == 'true'">
                    YES
                </div>
                <div class="alert alert-danger" *ngIf="model.isPalindrome == 'false'">
                    NO
                </div>

            </div>
        </div>
        

        <div class="form-group">
            {{model.saveStatus}}
            
        </div>
    </form>
</div>

